/*! _colors.scss | HTML Nunjucks Starter */

/* ==========================================================================
Project Colors
========================================================================== */


// Color names
$charcoal-grey: #37393c;


// Color variables
$primary: #FF4141;

$headings-color: #000;
$body-color: $charcoal-grey;
